root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{json,yml,yaml,md,xml,xaml}]
indent_size = 2

[*.cs]
# 樣式偏好
csharp_style_namespace_declarations = file_scoped:warning
csharp_using_directive_placement = outside_namespace:warning
csharp_prefer_braces = true:silent
dotnet_sort_system_directives_first = true
